notebook==6.1.5
jupyter==1.0.0
jupyterhub==1.1.0
jupyter_core==4.6.1
jupyterlab==1.2.1
ipython==7.9.0
ipykernel==5.0.0


notebook
jupyter
jupyterhub==1.1.0
jupyter_core
jupyterlab==1.2.1
ipython
ipykernel
prompt-toolkit


